@media (max-width:420px){

.tudo{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;

}

.area-branca{
    height: 29em;
    width: 18em;
}

img{
height: 16.5em;
width: 16.5em;
margin-top: -0.5em;

margin-bottom: 1em;

}

.texto-menor{
flex-direction: row;
flex-wrap: wrap;

text-align: center;
width: 17em;
margin-bottom: 2em;

}

h2{
margin-top: 0.5em;

}



}

    